/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
body {
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;
  background-color: lightseagreen;
  font-size: 3vh;
  color: white;
}

p {
  line-height: 1.5;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

/* .c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
} */

/* .c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
} */

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.contents_header {
  text-align: center;
}



/* loading */
#loading {
  background-color: lightseagreen;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.loading_bar_container {
  transform: scale(-1, -1);
}

.loading_bar {
  margin: 120px auto;
}

.loading_gif {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}

.gototop {
  font-size: 20vh;
}

/* many_tape */

.cautionBarContainer {
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  height: 300px;
}


.cautionBarContainer.one {
  top: 33%;
  transform: translateX(-50vw) rotate(
    16deg
  );
}

.cautionBarContainer.two {
  top: 45%;
}

.cautionBarContainer.three {
  top: 55%;
  transform: rotate(
    9deg
  );
}

.cautionBarContainer.four {
  top: 68%;
  transform: translateX(-50vw) rotate(
    -198deg
  );
}

.cautionBarContainer.five {
  top: 73%;
  transform: translateX(-10vw) rotate(
    16deg
  );
}

.cautionBarContainer.six {
  top: 80%;
  /* transform: translateX(-5vw) rotate(
    3deg
  ); */
}


.cautionBarText {
  display: block;
  background-color: #fff;
  white-space: nowrap;
  padding: 0 20px;
  color: black;
}

/* works */
#works {
  /* tape層と被せないため */
  margin-bottom: 290px;
  width: 100%;
}

.works_container {
  /* display: flex; */
  text-align: center;
}

.works_other_wrapper {
  margin-top: 80px;
}

.works_other_wrapper p {
  /* text-align: left; */
  font-size: 2.4vh;;
}

.works_wrapper {
  /* margin-left: 50px; */
}

#many_tape {
  height: 1000px;
  /* background-color: royalblue; */
}

/* carrer */

#carrer {
  margin-top: 400px;
}

#carrer table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

#carrer th {
  padding: 20px;
  border-bottom: none;
}

#carrer td {
  padding: 40px 20px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #A28C63;
  border-bottom: 1px solid #A28C63;
}

/* contact */
#contact {
  /* tape層と被せないため */
  margin-top: 350px;
  width: 100%;
}

.contact_scroll_wrapper {
  height: 800px;
}

.contact_container {
  text-align: center;
  margin: 50px auto 0 auto;
  background-color: white;
  color: black;
  padding: 5%;
  width: 680px;
  height: 280px;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.email {
  font-size: 5vh;
}

.gihub_link {
  padding-right: 40px;
}

/* contents_guide */

.contents_guide_container {
  text-align: right;
  margin: 200px 400px 200px 0px;
}

.contents_guide_container ul {
  display: inline-block;
  text-align: left;
}

.contents_guide_list {
  margin-top: 30px;
  list-style: none;
  width: 300px;
}

.contents_guide_list:first-child {
  transition-delay: .1s;
}

.contents_guide_link {
  color: white;
  font-size: 5vh;
  text-transform: uppercase;
}

/* go to top */

/* #go_to_top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#go_to_top a {
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#go_to_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 50px;
  color: #3fefee;
} */