/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
body {
  overflow: hidden;
  font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
  background-color: lightseagreen;
  font-size: 3vh;
  color: white;
}

p {
  line-height: 1.5;
}

/* these use anywhere */

.contents_header {
  text-align: center;
}

/* contents_guide */

.contents_guide_container {
  text-align: right;
  margin: 200px 400px 200px 0px;
}

.contents_guide_container ul {
  display: inline-block;
  text-align: left;
}

.contents_guide_list {
  margin-top: 30px;
  list-style: none;
  width: 300px; 
}

.contents_guide_link {
  color: white;
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 1s;
}

.contents_guide_link:hover {
  background: #f14c4a;
  padding-left: 5px;
}

/* loading */
#loading {
  background-color: lightseagreen;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 90px;
  margin-bottom: 300px;
}

.loading_bar_container {
  transform: scale(-1, -1);
}

.loading_bar {
  margin: 120px auto;
}

.loading_gif {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}

.gototop {
  font-size: 20vh;
}

/* many_tape */
#many_tape {
  height: 1000px;
}

.cautionBarContainer {
  position: absolute;
  font-size: 9vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  height: 300px;
}


.cautionBarContainer.one {
  top: 33%;
  transform: translateX(-50vw) rotate(
    16deg
  );
}

.cautionBarContainer.two {
  top: 45%;
}

.cautionBarContainer.three {
  top: 55%;
  transform: rotate(
    9deg
  );
}

.cautionBarContainer.four {
  top: 68%;
  transform: translateX(-50vw) rotate(
    -198deg
  );
}

.cautionBarContainer.five {
  top: 73%;
  transform: translateX(-10vw) rotate(
    16deg
  );
}

.cautionBarContainer.six {
  top: 60%;
  transform: translateX(-70vw) rotate(
    -20deg
  );
}


.cautionBarText {
  display: block;
  background-color: #fff;
  white-space: nowrap;
  padding: 0 20px;
  color: black;
}

/* carrer */

#carrer {
  margin-top: 500px;
}

#carrer table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

#carrer th {
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: none;
}

#carrer td {
  padding: 40px 20px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.1em;
  font-weight: bold;
}

/* works */
#works {
  /* tape層と被せないため */
  margin-top: 170px;
  margin-bottom: 550px;
  width: 100%;
}

.works_container {
  text-align: center;
  margin-top: 50px;
}

.works_other_wrapper {
  margin-top: 80px;
}

.works_container p, .works_other_wrapper p {
  font-size: 2.7vh;;
}

/* contact */
#contact {
  /* tape層と被せないため */
  margin-top: 650px;
  width: 100%;
}

.contact_scroll_wrapper {
  height: 800px;
}

.contact_title {
  text-align: center;
}

.contact_container {
  text-align: center;
  margin: 50px auto 0 auto;
  background-color: white;
  color: black;
  padding: 4.9%;
  width: 680px;
  height: 180px;
  border-radius: 30% 70% 30% 80%/50% 40% 80% 60%;
}

.email {
  margin-top: 10px;
  font-size: 4.5vh;
  font-weight: bold;
}

.gihub_link {
  padding-right: 90px;
}


/* go to top */
